body {
    background-color: #3A405A;
}

.name {
    text-align: center;
    padding: 10px;
    color: #F9DEC9;
}

button {
    background-color: #99B2DD;
    padding: 5px;
    color: #F9DEC9;
    font-size: 20px;
}