.hidden {

    display: none;
  
  }

  body {
    background-color: #748CAB;
    align-items: center;
    justify-content: center;
}

table { 
    margin: 0 auto; 
    font-size: large; 
    border: 1px solid #1D2D44; 
} 

h1 { 
    text-align: center; 
    color:#F0EBD8; 
    font-size: xx-large; 
    font-family: 'Gill Sans',  
        'Gill Sans MT', ' Calibri',  
        'Trebuchet MS', 'sans-serif'; 
} 

td { 
    background-color: #748CAB; 
    border: 1px solid #3E5C76; 
} 

th, 
td { 
    font-weight: bold; 
    border: 1px solid #3E5C76; 
    padding: 20px; 
    text-align: center; 
    color: #1D2D44;
} 

td { 
    font-weight: lighter; 
} 

button {
    align-items: center;
    justify-content: center;
}